/* ======================================
  FONT TYPE
====================================== */
@font-face {
  font-family: 'db_helvethaica_x75_bd';
  src: url('fonts/db_helvethaica_x_bd_v3.2-webfont.eot');
  src: url('fonts/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/db_helvethaica_x_bd_v3.2-webfont.woff') format('woff'),
       url('fonts/db_helvethaica_x_bd_v3.2-webfont.ttf') format('truetype'),
       url('fonts/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_x75_bd') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_helvethaica_x55_regular';
  src: url('fonts/db_helvethaica_x_v3.2.eot');
  src: url('fonts/db_helvethaica_x_v3.2.eot?#iefix') format('embedded-opentype'),
       url('fonts/db_helvethaica_x_v3.2.woff') format('woff'),
       url('fonts/db_helvethaica_x_v3.2.ttf') format('truetype'),
       url('fonts/db_helvethaica_x_v3.2.svg#db_helvethaica_x55_regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DBHelvethaicaXLiv3_2';
  src: url('fonts/DBHelvethaicaXLiv3_2.eot');
  src: url('fonts/DBHelvethaicaXLiv3_2.eot') format('embedded-opentype'),
       url('fonts/DBHelvethaicaXLiv3_2.woff2') format('woff2'),
       url('fonts/DBHelvethaicaXLiv3_2.woff') format('woff'),
       url('fonts/DBHelvethaicaXLiv3_2.ttf') format('truetype'),
       url('fonts/DBHelvethaicaXLiv3_2.svg#DBHelvethaicaXLiv3_2') format('svg');
}

/* ======================================
  VARIABLES X FUNCTION
====================================== */
$font_aw : 'fontawesome';
$font : 'db_helvethaica_x55_regular',sans-serif;
$font_45 : 'DBHelvethaicaXLiv3_2',sans-serif;
$font_75 : 'db_helvethaica_x75_bd',sans-serif;
$red : #eb212e;
$easeOutBack : cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */;
$easeInOutCubic  : cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

/* ======================================
  MIXIN
====================================== */
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
@mixin transit($property){
  @if($property) == 0 {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition:all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
  } @else {
    -webkit-transition: $property;
    -moz-transition:$property;
    -ms-transition: $property;
    transition: $property;
  }
}
@mixin transform($property){
  -webkit-transform: $property;
  -moz-transform:$property;
  -ms-transform: $property;
  transform: $property;
}
@mixin animate($property){
  -webkit-animation: $property;
  -moz-animation:$property;
  -ms-animation: $property;
  animation: $property;
}
@mixin keyframe($name){
  @-webkit-keyframes #{$name} {@content;}
  @-moz-keyframes #{$name} {@content;}
  @-ms-keyframes #{$name} {@content;}
  @keyframes #{$name} {@content;}
}
// [A]LL [B]ROW[S]ER
@mixin abs($style,$property){
  -webkit-#{$style}:$property;
  -moz-#{$style}:$property;
  -ms-#{$style}:$property;
  #{$style}:$property;
}
@mixin smoothfont{-webkit-font-smoothing: antialiased;}
@mixin webkit-radius(){
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
}
@mixin reset-input {
  border:none;
  -webkit-appearance: none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  padding: 0;
  &:focus{
    outline: none;
  }
}
@mixin flexbox($value) {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 100%;
  @include abs(flex-wrap,$value);
}
@mixin flex($value) {
  -webkit-box-flex: $value;
  -moz-box-flex:  $value;
  -webkit-flex:  $value;
  -ms-flex:  $value;
  flex:  $value;
}

/* ======================================
  SHARE CSS
====================================== */
*{box-sizing:border-box;}
a,a:hover{text-decoration: none;color:inherit;}
*,*:focus{outline: none;}
img{-webkit-backface-visibility: hidden;-webkit-transform: translateZ(0) scale(1.0, 1.0);display: block;max-width: 100%;}
.clear,.clearfix:after{clear:both; height:0px; overflow:hidden;}
.clearfix:after{content: "";display: block;}
.floatL{float:left;}
.floatR{float:right;}
.floatN{float:none;}
.txtL{text-align:left;}
.txtR{text-align:right;}
.txtC{text-align:center;}
.grayImg {
  /*-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); filter: grayscale(100%); */
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
            filter: grayscale(100%);
  }

/* custom color placeholder */
.input::-webkit-input-placeholder {color: #ccc;}
.input:-moz-placeholder { /* Firefox 18- */color: #ccc;}
.input::-moz-placeholder {  /* Firefox 19+ */color: #ccc;}
.input:-ms-input-placeholder {color: #ccc;}

/* remove arrow input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

/* custom color autocomplete */
@mixin autocomplete_color($bg,$txt){
  input:-webkit-autofill{-webkit-box-shadow:0 0 0 50px $bg inset; -webkit-text-fill-color: $txt;}
  input:-webkit-autofill:focus{-webkit-box-shadow: 0 0 0 50px $bg inset;-webkit-text-fill-color: $txt;}
}
@include autocomplete_color(#fff,#000);
a{@include transit(0);}

// SELECTBOX
.selectbox{
  position: relative;
  &.show-options{
    .sb-options{
      visibility: visible;
      opacity: 1;
    }
  }
  .sb-selector{
    display: block;
    width: 100%;
  }
  .sb-options{
    position: absolute;
    top:100%;left: 0;
    visibility: hidden;
    opacity: 0;
  }
}

// TABBOX
.tabbox{
  .tb-item{
    opacity: 0;
    @include transit(opacity 500ms ease);
    &.active{
      opacity: 1;
    }
  }
}

// ACCORDION
.accordionbox{
  .ab-label{
    cursor: pointer;
  }
  .ab-content{
    display: none;
  }
}

// UNIVERSAL ELEMENT
h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,
.box-btn{
  margin: 15px 0;
}
ul{
  list-style:disc outside none;
}
ol{
  list-style:decimal outside none;
}

strong{
  font-family: $font_75;
}

// FANCYBOX
.fancybox-slide--html{
  padding: 15px;
  .fancybox-close-small{color:#fff;}
}
.fancybox-content{
  padding: 0;
}

// ADJUST GRID GUTTER
.row-s{
  margin-left: -10px;
  margin-right: -10px;
  [class^="col"]{
    padding-left: 10px;
    padding-right: 10px;
  }
}