/* ======================================
  GLOBAL CSS
====================================== */
html{
	background: url('../img/bg_home.jpg') 50% 100%/cover no-repeat #000;
	&.activity-page{
		background: url('../img/bg.jpg') 50% 100%/cover no-repeat #000;
	}
}
body{
	background-color: transparent;
	font-family: $font;
	line-height: 1.2;
	color:#fff;
}
.main{
	position: relative;
	min-height: 100vh;
	height: auto;
	padding-bottom: 100px;
	padding-top: 52px;
}
.main-header{
	background: url('../img/bg.jpg') 0 0/100% auto no-repeat;
	position: fixed;
	top:0;left:0;
	width: 100%;
	padding: 20px 0;
	z-index: 998;
	.main-logo{
		height: 12px;
		display: inline-block;
		img{
			height: 100%;
			width: auto;
		}
	}
	.btn-menu{
		display: block;
		position: absolute;
		width: 32px;height: 32px;
		right: 10px;top: 50%;
		@include transform(translateY(-50%));
		span{
			display: block;
			position: absolute;
			top:0;left:0;
			width: 100%;height: 100%;
			@include transit(350ms all ease);
			&.hamburger{
				background:url('../img/icon/hamburger.svg') 50% 50%/18px auto no-repeat;
				opacity: 1;
				visibility: visible;
				.show-menu &{
					opacity: 0;
					visibility: hidden;
					@include transform(scale(0.3));
				}
			}
			&.close{
				background:url('../img/icon/close.svg') 50% 50%/16px auto no-repeat;
				opacity: 0;
				visibility: hidden;
				@include transform(scale(0.3));
				.show-menu &{
					opacity: 1;
					visibility: visible;
					@include transform(scale(1));
				}
			}
		}
	}
}
.main-nav{
	background-color: rgba(0,0,0,0.75);
	position: fixed;
	width: 100%;
	height: calc(100% - 52px);
	top:52px;right: 0;
	z-index: 998;
	color:#fff;
	font-size: 16px;
	font-family: $font_45;
	opacity: 0;
	visibility: hidden;
	@include transit(300ms all 300ms ease);
	.show-menu &{
		@include transit(300ms all 0s ease);
		opacity: 1;
		visibility: visible;
	}
	.inner{
		background: url('../img/bg_main-nav.png') 50% 50%/cover no-repeat;
		width: 200px;height: 100%;
		position: absolute;
		top:0;right: 0;
		@include transit(350ms all 0ms cubic-bezier(0.895, 0.030, 0.685, 0.220));
		@include transform(translateX(100%));
		.show-menu &{
			@include transit(350ms all 200ms cubic-bezier(0.165, 0.840, 0.440, 1.000));
			@include transform(translateX(0));
		}
	}
	.mn-head{
		background: #cb1d28;
		background: -moz-linear-gradient(top, #cb1d28 0%, #a21821 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, #cb1d28), color-stop(100%, #a21821));
		background: -webkit-linear-gradient(top, #cb1d28 0%, #a21821 100%);
		background: -o-linear-gradient(top, #cb1d28 0%, #a21821 100%);
		background: -ms-linear-gradient(top, #cb1d28 0%, #a21821 100%);
		background: linear-gradient(to bottom, #cb1d28 0%, #a21821 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb1d28', endColorstr='#a21821', GradientType=0 );
		padding: 15px 20px;
		.initial-name{
			background-color: #fff;
			display: block;
			color:#b11a24;
			width: 50px;height: 50px;
			border-radius: 50%;
			text-align: center;
			line-height: 50px;
			font-size: 36px;
			border:2px solid #a2a2a2;
		}
		.media-body{
			padding-right: 20px;
			line-height: 1;
		}
	}
	.mn-menu{
		text-align: right;
		padding: 15px 0;
		overflow: auto;
		.item{
			display: block;
			padding: 15px 20px;
		}
	}
}
.main-footer{
	background: rgba(114,15,15,0.2);
	background: -moz-linear-gradient(left, rgba(114,15,15,0.2) 0%, rgba(114,15,15,1) 26%, rgba(114,15,15,1) 50%, rgba(114,15,15,1) 75%, rgba(114,15,15,0.2) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(114,15,15,0.2)), color-stop(26%, rgba(114,15,15,1)), color-stop(50%, rgba(114,15,15,1)), color-stop(75%, rgba(114,15,15,1)), color-stop(100%, rgba(114,15,15,0.2)));
	background: -webkit-linear-gradient(left, rgba(114,15,15,0.2) 0%, rgba(114,15,15,1) 26%, rgba(114,15,15,1) 50%, rgba(114,15,15,1) 75%, rgba(114,15,15,0.2) 100%);
	background: -o-linear-gradient(left, rgba(114,15,15,0.2) 0%, rgba(114,15,15,1) 26%, rgba(114,15,15,1) 50%, rgba(114,15,15,1) 75%, rgba(114,15,15,0.2) 100%);
	background: -ms-linear-gradient(left, rgba(114,15,15,0.2) 0%, rgba(114,15,15,1) 26%, rgba(114,15,15,1) 50%, rgba(114,15,15,1) 75%, rgba(114,15,15,0.2) 100%);
	background: linear-gradient(to right, rgba(114,15,15,0.2) 0%, rgba(114,15,15,1) 26%, rgba(114,15,15,1) 50%, rgba(114,15,15,1) 75%, rgba(114,15,15,0.2) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720f0f', endColorstr='#720f0f', GradientType=1 );
	position: absolute;
	bottom: 0;left: 0;
	width: 100%;
	padding: 8px 0;
	color:#fff;
	.copyright{
		text-align: center;
		display: block;
		a{
			color:#fff;
		}
	}
}

/* ======================================
  LAYOUT CSS
====================================== */
.main{
	opacity: 0;
	@include transit(300ms all 0s ease);
	.isLoad &{
		opacity: 1;
	}
}
.herobanner{
	position: relative;
	margin-top: -50px;
	overflow: hidden;
	width: 100%;
	&:after{
		content: "";
		display: block;
		width: 100%;
		padding-bottom: 131%;
	}
	.img{
		position: absolute;
		top:0;left:0;
		width: 100%;height: 100%;
		opacity: 0;
		@include transform(translateX(-80px) translateY(15px));
		.isLoad &{
			opacity: 1;
			@include transform(translateX(0) translateY(0));
		}
		&.bg{
			@include transform(translateX(0) translateY(0));
		}
	}
	.tire{
		@include transit(500ms all 0s $easeOutBack);
	}
	.line-bottom{
		@include transit(500ms all 100ms $easeOutBack);
	}
	.text{
		@include transit(500ms all 200ms $easeOutBack);
	}
	.line-top{
		@include transit(500ms all 300ms $easeOutBack);
	}
	.logo{
		@include transit(500ms all 400ms $easeOutBack);
	}
}
.home{
	.box-btn{
		margin-top: -100px;
		position: relative;
		z-index: 2;
	}
	.btn-1,.btn-2{
		opacity: 0;
		@include transform(translateY(20px));
		.isLoad &{
			opacity: 1;
			@include transform(translateY(0));
		}
	}
	.btn-1{
		@include transit(400ms all 500ms ease);
	}
	.btn-2{
		@include transit(400ms all 600ms ease);
	}
}
.header-page{
	.head{
		line-height: 0.8;
	}
}

// SELECT SCREEN
.btn-select{
	width: 100%;
	overflow: hidden;
	position: relative;
	display: block;
	img{
		width: 100%;
	}
	.txt{
		position: absolute;
		top:0;left:0;
		width: 100%;height: 100%;
		z-index: 2;
	}
	&.sRight{
		.bg,
		.txt{
			@include transform(translateX(100%));
			.isLoad &{
				@include transform(translateX(0));
			}
		}
		.bg{
			@include transit(600ms all 100ms $easeInOutCubic);
		}
		.txt{
			@include transit(600ms all 200ms $easeInOutCubic);
		}
	}
	&.sLeft{
		.bg,
		.txt{
			@include transform(translateX(-100%));
			.isLoad &{
				@include transform(translateX(0));
			}
		}
		.bg{
			@include transit(600ms all 100ms $easeInOutCubic);
		}
		.txt{
			@include transit(600ms all 200ms $easeInOutCubic);
		}
	}
}

// ACTIVITY 1
.sticker-item{
	background:url('../img/bg_sticker-item.png') 50% 50%/cover no-repeat;
	display: block;
	padding: 1px 10px 10px 10px;
	color:#fff;
	text-align: center;
	.img{
		margin-bottom: 5px;
		margin-top: -15px;
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 10px);
	}
	.box-txt{
		font-size: 16px;
		small{
			display: block;
			margin-top: -3px;
		}
	}
}
.activity-1{
	.sticker-item{
		-webkit-filter: grayscale(100%);
		        filter: grayscale(100%);
	}
	.box-btn-upload{
		background: url('../img/bg_next.png') 50% 50%/auto 100% no-repeat;
		min-height: 150px;
	}
}
.sticker-select{
	overflow: hidden;
	padding-top: 15px;
	opacity: 0;
	visibility: hidden;
	max-height: 155px;
	@include transit(350ms all ease);
	&.slick-initialized{
		max-height: none;
		opacity: 1;
		visibility: visible;
	}
	&:before,&:after{
		position: absolute;
		top:0;
		width: 80px;height: 100%;
		z-index: 1;
		pointer-events:none;
		display: block;
		content: "";
		opacity: 0.8;
	}
	&:before{
		background: rgba(4,4,4,1);
		background: -moz-linear-gradient(left, rgba(4,4,4,1) 0%, rgba(4,4,4,0) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,4,4,1)), color-stop(100%, rgba(4,4,4,0)));
		background: -webkit-linear-gradient(left, rgba(4,4,4,1) 0%, rgba(4,4,4,0) 100%);
		background: -o-linear-gradient(left, rgba(4,4,4,1) 0%, rgba(4,4,4,0) 100%);
		background: -ms-linear-gradient(left, rgba(4,4,4,1) 0%, rgba(4,4,4,0) 100%);
		background: linear-gradient(to right, rgba(4,4,4,1) 0%, rgba(4,4,4,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404', GradientType=1 );
		left: 0;
	}
	&:after{
		background: rgba(4,4,4,0);
		background: -moz-linear-gradient(left, rgba(4,4,4,0) 0%, rgba(4,4,4,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,4,4,0)), color-stop(100%, rgba(4,4,4,1)));
		background: -webkit-linear-gradient(left, rgba(4,4,4,0) 0%, rgba(4,4,4,1) 100%);
		background: -o-linear-gradient(left, rgba(4,4,4,0) 0%, rgba(4,4,4,1) 100%);
		background: -ms-linear-gradient(left, rgba(4,4,4,0) 0%, rgba(4,4,4,1) 100%);
		background: linear-gradient(to right, rgba(4,4,4,0) 0%, rgba(4,4,4,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040404', endColorstr='#040404', GradientType=1 );
		right: 0;
	}
	.slick-list{
		overflow: visible;
		margin: 0 -10px;
	}
	.item{
		padding: 0 10px;
	}
	.slick-arrow{
		background-size: 8px auto;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-color: #de1f2c;
		width: 24px;height: 24px;
		border-radius: 50%;
		position: absolute;
		top: 50%;margin-top: -12px;
		border: none;
		text-indent: -9999px;
		z-index: 3;
		padding: 0;
		&.slick-prev{
			background-image: url('../img/icon/prev.png');
			left: 15px;
		}
		&.slick-next{
			background-image: url('../img/icon/next.png');
			right: 15px;
		}
	}
	.slick-center{
		.sticker-item{
			opacity: 1;
			-webkit-filter: grayscale(0%);
			        filter: grayscale(0%);
		}
	}
}

// STEP UPLOAD
.header-page{
	position: relative;
	.btn-back{
		width: 20%;height: 100%;
		position: absolute;
		top:0;left:0;
		z-index: 2;
		display: block;
		text-indent: -9999px;
	}
}
.step-upload{
	.header-page{
		.btn-help{
			position: absolute;
			bottom: -100%;right: 0;
			width: 58px;
			display: block;
			z-index: 2;
		}
	}
}
.box-upload{
	margin: 20px auto;
	width: 60%;
	position: relative;
	.label{
		background-color: #333;
		display: block;
		position: relative;
		z-index: 2;
		border:1px solid $red;
		&:before{
			background: url('../img/btn_upload-2.png') 50% 50%/85px auto no-repeat;
			position: absolute;
			top:0;left:0;
			z-index: 3;
			width: 100%;height: 100%;
			pointer-events:none;
			content: "";
			display: block;
		}
		.crop-img{
			position: absolute;
			z-index: 1;
			top:0;left:0;
		}
		.outline{
			position: relative;
			z-index: 2;
		}
	}
	.input{
		position: absolute;
		width: 100%;height: 100%;
		top:0;left:0;
		opacity: 0;
	}
	.num{
		position: absolute;
		left: -50px;top:50%;
		font-size: 200px;
		font-family: $font_75;
		color: rgba(255,255,255,0.05);
		z-index: 1;
		@include transform(translateY(-50%));
	}
}
.box-select-color{
	font-size: 0;
	text-align: center;
	margin: 15px 0;
	.item{
		width: 30px;
		display: inline-block;
		margin: 0 10px;
	}
}
.ex-result{
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	.popup &{
		max-width: 250px;
	}
}

// POPUP
.popup{
	background: url('../img/bg_corner-popup.png') 0 0/170px auto no-repeat,url('../img/bg_popup.jpg') 50% 50%/cover no-repeat;
	padding: 0 25px 25px 25px;
	width: 100%;
	max-width: 330px;
	.head-popup{
		font-size: 18px;
		padding-top: 8px;
		padding-left: 75px;
	}
	.content-popup{
		margin-top: 20px;
	}
}
.popup-crop-img{
	.head{
		font-family: $font_45;
		text-align: center;
		font-size: 20px;
		margin: 0 0 20px 0;
		text-transform: uppercase;
	}
	.box-tools{
		font-size: 0;
		.item{
			width: 24px;height:24px;
			display: inline-block;
			margin: 0 15px;
		}
	}
	.box-crop{
		position: relative;
		//width: 215px;height: 160px;
		width: 280px;height: 208px;
		margin: 15px auto;
		.box-outline{
			position: absolute;
			top:0;left:0;
			width: 100%;height: 100%;
			z-index: 2;
			pointer-events:none;
			border:1px solid $red;
			&:before{
				background-color: rgba(0,0,0,0.2);
				width: 100%;height: 100%;
				position: absolute;
				top:0;left:0;
				content: "";
				display: block;
			}
			img{
				position: absolute;
				top:0;left:0;
				width: 100%;height: 100%;
			}
		}
		.box-img-upload{

		}
	}
	.croppie-container .cr-viewport{
		border:none;
	}
}
.popup-activity-2{
	.head-content{
		font-size: 36px;
		line-height: 1;
		margin-top: 15px;
	}
}

// STICKER COLLECTION
.sticker-collection{
	.header-page{
		.head{
			font-size: 30px;
			small{
				font-size: 18px;
				font-family: $font_45;
			}
		}
	}
	.sticker-list{
		position: relative;
		margin-bottom: 30px;
		.num{
			padding-right: 10px;
			position: absolute;
			top:50%;left: 0;
			@include transform(translateY(-50%) translateX(-100%));
		}
		.btn-detail{
			margin-left: -15px;
			display: block;
		}
	}
}
.popup-sticker-detail{
	padding-left: 0;
	padding-right: 0;
	.head-popup{
		padding-left: 100px;
	}
	.head-content{
		font-size: 25px;
		line-height: 1;
		margin-top: 15px;
	}
}
.color-item{
	display: inline-block;
	width: 30px;
	margin: 0 5px;
	&.active{
		filter:drop-shadow(0 0 3px $red);
	}
}
.box-preview-color{
	position: relative;
	&:after{
		padding-bottom: 75%;
		display: block;
		width: 100%;
		content: "";
	}
	.item{
		position: absolute;
		width: 50%;
		border:1px solid $red;
		&.item-front{left: -1px;top:-1px;}
		&.item-side{right: -1px;top:-1px;}
		&.item-rear{left: -1px;bottom:-1px;}
		&.item-back{right: -1px;bottom:-1px;}
		&:after{
			padding-bottom: 75%;
			display: block;
			width: 100%;
			content: "";
		}
		.sticker{
			width: 100%;
			position: absolute;
			z-index: 2;
			top:0;left:0;
		}
		.result{
			position: absolute;
			width: 100%;
			z-index: 1;
			top:0;left:0;
		}
		.label{
			position: absolute;
			top:0;left:0;
			padding:5px;
			font-size: 10px;
			text-shadow:0 0 2px #fff;
			color:#000;
			z-index: 3;
		}
	}
}